# ── App ──────────────────────────────────────────
APP_ENV=dev
APP_DEBUG=true
APP_SECRET_KEY=37AWKwuUrKVlZx410quJWV1IjlcBnIO0CAciVWazcYE
APP_HOST=0.0.0.0
APP_PORT=8000

# ── PostgreSQL ───────────────────────────────────
POSTGRES_USER=food_tech
POSTGRES_PASSWORD=food_tech_pass
POSTGRES_DB=food_tech

# Write (Primary)
POSTGRES_WRITE_HOST=localhost
POSTGRES_WRITE_PORT=5433
DATABASE_WRITE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_WRITE_HOST}:${POSTGRES_WRITE_PORT}/${POSTGRES_DB}
DATABASE_WRITE_POOL_SIZE=10
DATABASE_WRITE_POOL_MAX_OVERFLOW=20
DATABASE_WRITE_POOL_PRE_PING=True
DATABASE_WRITE_POOL_ECHO=True

# Read (Replica)
POSTGRES_READ_HOST=localhost
POSTGRES_READ_PORT=5434
DATABASE_READ_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_READ_HOST}:${POSTGRES_READ_PORT}/${POSTGRES_DB}
DATABASE_READ_POOL_SIZE=20
DATABASE_READ_POOL_MAX_OVERFLOW=40
DATABASE_READ_POOL_PRE_PING=True
DATABASE_READ_POOL_ECHO=True

# Sync (Alembic)
DATABASE_SYNC_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_WRITE_HOST}:${POSTGRES_WRITE_PORT}/${POSTGRES_DB}

# ── Redis ────────────────────────────────────────
REDIS_URL=redis://localhost:6379/0

# ── RabbitMQ ─────────────────────────────────────
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/

# ── Celery ───────────────────────────────────────
CELERY_BROKER_URL=${RABBITMQ_URL}
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# ── JWT ──────────────────────────────────────────
JWT_SECRET=vkJ0TQojhOcfaioVm34wt4FX1ENW6eZEwhHhnx29fVu
JWT_ALGORITHM=HS256
JWT_ACCESS_EXPIRE_MINUTES=60
JWT_REFRESH_EXPIRE_DAYS=30